.messagesWrapper_add28b, [class*="messagesWrapper"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
[class*="chatContent"] [class*="form"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Personal DM's */
.chat_f75fb0:has(.subtitleContainer_f75fb0 .avatar__44b0c[src*="772169101388415069"]) .chatContent_f75fb0 {
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("https://cdn.discordapp.com/banners/1370730989478744165/8190f41c7ea0a3e63cb641711430d5b5.png?size=4096");
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Mosysepro Community */
body:has([href*="/channels/1256634172932493373"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/banners/1370730989478744165/8190f41c7ea0a3e63cb641711430d5b5.png?size=4096&width=1280&height=0") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Los Compadretes */
body:has([href*="/channels/798971003325382657"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/icons/798971003325382657/08f4c48e773fe07bc156206ca745e042.webp?size=640") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Paralelepípedo */
body:has([href*="/channels/1304797587198709860"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/attachments/1289278847136567410/1351969965753765928/ab396478c4469a1f04bf9c153ff7ffab.png?ex=68218666&is=682034e6&hm=4628e2a4761a6c9905a72b7d8fafe8ba4bfa3366400a08dac37ce525290da192&") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Cube Project */
body:has([href*="/channels/1290036262597693561"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/icons/1290036262597693561/b3ecc623356dfd9baf6e379a9f9dac21.webp?size=640") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Eventos U. Studio */
body:has([href*="/channels/1136293640306700409"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1286705797157617685/1371187129085984808/eventos2.png?ex=68223906&is=6820e786&hm=fce03685e3b1d49d49fce15cd478bb0b8dc68f29e9e13acfc656bea9c9b31234&=&width=500&height=500") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Discord town hall */
body:has([href*="/channels/169256939211980800"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/icons/169256939211980800/b6d536d1332bd67725ca03729348c035.png") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* Vencord */
body:has([href*="/channels/1015060230222131221"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/banners/1015060230222131221/a_a42646da37160e4053f1823649177f0a.gif?size=1024") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
