.messagesWrapper_add28b, [class*="messagesWrapper"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

body:has([href*="/channels/1256634172932493373"]) .chatContent_f75fb0 {
    background-image: url("https://cdn.discordapp.com/banners/1370730989478744165/8190f41c7ea0a3e63cb641711430d5b5.png?size=4096&width=1280&height=0") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
