#popout_9197:has([aria-label="mosysepro"]) .banner__68edb {
  background-image: url("https://media.discordapp.net/attachments/1371482570335850616/1371482570491170948/eventos2.png?ex=68234c2d&is=6821faad&hm=c49f22b9f1e0e19a2534f91d4c162aafbcfe14e20bf0b521c32d4ceef23042df&=&width=500&height=500") !important;
}

.banner__68edb {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 0.5;
}
