.banner__68edb {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 0.5;
}

[class*="popout"]:has([aria-label="mosysepro"]) .banner__68edb {
    background-image: url("https://media.discordapp.net/attachments/1371480352287232010/1371480352433897542/Mosysepro_Studio_-_logo.png?ex=68234a1c&is=6821f89c&hm=dee334e94cd9738dd44f76e8d13712869ec86fc4a20fd8599c1d9b9f5ff83ec2&=&width=953&height=953") !important;
}
