body:has([href*="/channels/1256634172932493373"]) .chatContent_f75fb0 {
    background-image: url("https://mosysepro.neocities.org/images/mosysepro_studio-logo.png") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
body:has([href*="/channels/1256634172932493373"]) #channels {
    background-color: rgba(43, 0, 77, 0.7) !important;
}
