body:has([href*="/channels/798971003325382657"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1371482278101913651/1371482278743507047/08f4c48e773fe07bc156206ca745e042.png?ex=68234be8&is=6821fa68&hm=537a139f00916898547458ef03448ab512448543194a01e5019ae7b0c9e841f1&=&width=800&height=800") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
