body:has([href*="/channels/1304797587198709860"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1371481643847520266/1371481644233523320/254f3ec2-ec98-4453-8ad3-ac952359d92c-1729406350515.png?ex=68483550&is=6846e3d0&hm=97aac68c5de75e5b73a0ee506edb9e3ee41a58b54e75d5af51f9b2c60269ec0f&=&width=953&height=953") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
