body:has([href*="/channels/1304797587198709860"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1371481643847520266/1371481644233523320/254f3ec2-ec98-4453-8ad3-ac952359d92c-1729406350515.png?ex=68234b50&is=6821f9d0&hm=192d462c88c6ddae233ca4c8be11cc51b2b54dd20958e88dd9e57c567f488db9&=&width=953&height=953") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
