body:has([href*="/channels/1256634172932493373"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1371480352287232010/1371480352433897542/Mosysepro_Studio_-_logo.png?ex=6848341c&is=6846e29c&hm=9d3a849bbd93b0e4973e0ebac501487fc8929c9335e4d0e602702744cbac0e74&=&width=953&height=953") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
body:has([href*="/channels/1256634172932493373"]) #channels {
    background-color: rgba(43, 0, 77, 0.7) !important;
}
