body:has([href*="/channels/798971003325382657"]) .chatContent_f75fb0 {
    background-image: url("https://media.discordapp.net/attachments/1371482278101913651/1371482278743507047/08f4c48e773fe07bc156206ca745e042.png?ex=684835e8&is=6846e468&hm=959f961901c01b27f43a5beb3e126dbe4b3a6e9bff2aee38f54e23ead472be1c&=&width=800&height=800") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
